
@{
    ViewBag.Title = "ShowMoreQuestRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex flex-column justify-content-center">
    @*<h2>ShowMoreQuestRoom</h2>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" id="MyCreateInput" class="btn btn-default" />
        </div>*@

    <div class="card justify-content-center center-card card-room">
        <div class="card-body justify-content-center">
            <p> <h2 class="card-title m0 justify-content-center justify-content-center text-center gold-text">- @ViewBag.CurrentElement.Name - </h2></p>
            <p class="card-text">@ViewBag.CurrentElement.Description</p>
            @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
        </div>
        <img class="card-img-bottom room-img" src="@ViewBag.CurrentElement.MainImage" alt="Card image cap">

        <!-- Slideshow container -->
        <div class="slideshow-container">
            <p> <h2 class="card-title m0 justify-content-center justify-content-center text-center"> - Gallary - </h2></p>
            @foreach (var item in @ViewBag.Gallary)
            {
                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    @*<div class="numbertext">img</div>*@
                    <img src="@item.Image" style="width:100%">
                </div>

                @*<div class="mySlides fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="~/AdditionalTemplateComponents/assets/img/logos/logo-room.png" style="width:100%">
                        <div class="text">Caption Two</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="~/AdditionalTemplateComponents/assets/img/logos/logo-room.png" style="width:100%">
                        <div class="text">Caption Three</div>
                    </div>*@
            }

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            @foreach (var item in @ViewBag.Gallary)
            {
                <span class="dot" onclick="currentSlide(@item.Id)"></span>
            }
        </div>
        <div class="card-body">
            <div class="main">
                <div class="right-col spec-block-style">
                    <p>
                        <h2 class="card-title m0 justify-content-center justify-content-center text-center gold-text"> - About Quest Room - </h2>
                    </p>
                    <table id="customers">
                        <tr>
                            <th>Category</th>
                            <th>Info</th>
                        </tr>
                        <tr>
                            <td>PassingTime:</td>
                            <td> @ViewBag.CurrentElement.PassingTime</td>
                        </tr>
                        <tr>
                            <td>MaxCountOfPlayer:</td>
                            <td> @ViewBag.CurrentElement.MaxCountOfPlayer</td>
                        </tr>
                        <tr>
                            <td>Rating:</td>
                            <td> @ViewBag.CurrentElement.Rating</td>
                        </tr>
                        <tr>
                            <td>MinCountOfPlayer:</td>
                            <td> @ViewBag.CurrentElement.MinCountOfPlayer</td>
                        </tr>
                        <tr>
                            <td>MinAge:</td>
                            <td> @ViewBag.CurrentElement.MinAge</td>
                        </tr>
                        <tr>
                            <td>Difficaltly:</td>
                            <td> @ViewBag.CurrentElement.Difficaltly</td>
                        </tr>
                        <tr>
                            <td>EscapeRate:</td>
                            <td> @ViewBag.CurrentElement.EscapeRate</td>
                        </tr>
                        <tr>
                            <td>Telephone:</td>
                            <td> @ViewBag.CurrentElement.Telephone</td>
                        </tr>
                        <tr>
                            <td>CompanyName:</td>
                            <td> @ViewBag.CurrentElement.CompanyName</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td> @ViewBag.CurrentElement.Address</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-10 text-center m-t-20 m0">
                <button type="button" class="btn btn-warning white-box"> @Html.ActionLink("Back to List", "Index")</button>
            </div>
        </div>
    </div>

</section>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        slides[slideIndex - 1].style.opacity = 1;
        dots[slideIndex - 1].className += " active";
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
